<h1>ControlValueAccessor and async validation</h1>

<!-- 1 Causes a ExpressionChangedAfterItHasBeenCheckedError -->
<p>{{fg.valid}}</p>
<form [formGroup]="fg">
  <app-cvainput formControlName="cvainp"></app-cvainput>
  
  In the parent component:
  <ul>
    <li> the FormGroup is valid? {{fg.valid}}</li>
    <li> the FormGroup is pending? {{fg.pending}}</li>
    <li> the FormGroup is invalid? {{fg.invalid}}</li>
  </ul>
</form> 
<!-- 2 Causes NO ExpressionChangedAfterItHasBeenCheckedError -->
<p>{{fg.valid}}</p>
